@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Role";
    Layout = "_LayoutAdmin";
}

<h2 class="text-center"></h2>
<div class="table-responsive mx-auto">
    <table class="table table-striped table-hover table-primary" id="tableRole">
        <thead class="table-dark">
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
@section scripts {

    <script src="~/js/Role.js" asp-append-version="true"></script>

}
